/* Style for centering content and adding the breast cancer awareness theme */
.input-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0; /* Light pink for background */
  }
  
  .app-title {
    font-size: 2.5rem;
    color: #ff66b2; /* Strong pink for breast cancer awareness */
    margin-bottom: 20px;
  }
  
  .team-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team-input-label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .team-input {
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ff66b2;
    margin-bottom: 20px;
    width: 200px; /* Add width to make the input box bigger */
  }
  
  .submit-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff66b2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #e05599;
  }
  